<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Uploaded File Information</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <td>Name</td>
            <td>@ViewBag.file.Name</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>@ViewBag.file.Content</td>
        </tr>
        <tr>
            <td>Content => Json</td>
            <td>@ViewBag.fileJson.Content</td>
        </tr>
    </table>

</body>
</html>