
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    var chartData;
    google.charts.load("current", { packages: ["timeline"] });
    google.charts.setOnLoadCallback(drawChartAgain);
    drawChartAgain();

    function drawChartAgain() {

        var options = {
            width: 50000,
            height: 500,
            hAxis: { format: 'HH:mm:sss' }
        };

        var colourChartContainer = document.getElementById('colourChart');
        var colourChart = new google.visualization.Timeline(colourChartContainer);
        var dataTableColour = new google.visualization.DataTable(@ViewBag.chartData.DataTableJson)

        colourChart.draw(dataTableColour, options);

        var errorChartContainer = document.getElementById("errorChart");
        var errorChart = new google.visulization.TimeLine(errorChartContainer);
        var dataTableError = new google.visulization.DataTable(@ViewBag.chartData.ErrorChartJson, 0.6);

        errorChart.draw(dataTableError, options);
    }

</script>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
        <tr>
            <td><div id="colourChart" style="border: 1px solid #ccc"></div></td>
        </tr>

        <tr>
            <td>
                <div id="chartDataJson"></div>
            </td>
        </tr>
        <tr>

            <td><div id="errorChart" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</body>
</html>